@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Aldrich:regular);
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
    --main-color: #B226E4;
    --second-color: #090F09;
    --text-color:#fff;
}
p{
    font-family: 'syne';
    font-weight: 400;
    color: var(--text-color);
}
/*navbar styling*/
.navbar{
    background: var(--second-color);
}
.navbar a{
    color: var(--text-color);
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
.navbar a:hover{
    color: var(--main-color);

}
.navbar-brand{
    margin-top: 12px;
    color: var(--text-color);
    font-family: 'Aldrich';
    font-size: 24px;
    line-height: 130%;
}
.navbar-brand span{
    color: #B226E4;
}
.navbar-nav{
    margin-left: 160px;
}
.navbar-nav li{
    padding: 0 15px 0 15px;
}
.navbar-toggler-icon{
    background: var(--main-color);
    border:none;
}
.collapse{
    display: flex;
    justify-content: space-between;
}
.nav-item button{
    background: var(--second-color);
    border: 1px solid var(--main-color);
    border-radius: 50px;
    color: var(--main-color);
    padding: 10px;
    width: 160px;
    font-size: clamp(12px, 2vw, 16px);
}
.nav-item button:hover{
    background: var(--main-color);
    color: var(--text-color);
    transition: .5s;
}
/*main section*/
#main{
    background: url(images/Desktop\ -\ 14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 50px;
}
#main .container-sm{
    display: flex;
}
.icons{
    display: flex;
}
.icon_text{
    margin-left: 20px;
}
.icon_text span{
    color: var(--main-color);
}
.icon_p{
    color: var(--text-color);
    font-family: 'syne';
}
.main_p,
.main{
    color: var(--text-color);
}
.main_p{
    line-height: 100%;
}
.main{
    font-size: clamp(30px,5vw,48px);
    line-height: 130%;
    font-family: 'aldrich';
    font-weight: 400;
}
.main span{
    color: #B226E4;
}
.main-sec{
    margin-top: 30px;
}
.bt-main{
    color: var(--text-color);
    font-weight: 500;
    font-family: 'syne';
    background: linear-gradient(90deg, #B226E4 5.07%, #0D0D0D 92.39%);
    border-radius: 50px;
    width: clamp(180px,2vw,212px);
    border: 0.5px solid #B226E4;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bt-main:hover{
    background: none;
    border: none;
}
.icons ul{
    display: flex;
}
.main-images{
    display: flex;
}
.first_img, 
.sec_img,
.third_img{
    background: linear-gradient(176.73deg, rgba(0, 0, 0, 0.2) 10.87%,
     rgba(0, 0, 0, 0.2) 49.81%), linear-gradient(180deg, #B226E4 0%, rgba(178, 38, 228, 0) 100%);
     border-radius: 64.9423px;
     padding-top: 15px;
     margin-left: 10px;
     margin-right: 10px;
     height: 290px;
}
.sec_img{
    margin-top: 120px;
}
.first_img{
    margin-top: 220px;
}
.first_img:hover,
.sec_img:hover,
.third_img:hover{
    transition: 1s;
    transform: translateY(-20px);
}
#body{
    background: url(images/Desktop\ -\ 15.png);
    padding-top:70px ;
    margin-top: -40px;
}
.first .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col .card{
    background: #FEECFE;
    padding: 10px;
}
.create{
    color: var(--text-color);
    font-family: 'Aldrich';
    font-size: clamp(18px,2vw,20px);
}
.first-cd,
.sec-cd{
    width: 18rem;
    margin: 15px;
}
.list-group li{
    background: #F1CEFD;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}
.list-group-item{
    margin-top: 10px;
    color: var(--main-color);
    font-weight: 600;
    font-family: 'syne';
}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec_p{
    color: var(--main-color);
    padding: 18px;
}
.sec_navbar{
    background: none;
}
.sec_nav_ul{
    margin-left: 110px;
}

.sec_navbar .collapse ul{
  margin-top: 10px;
}
.toggle{
    font-size: 8px;
    color: var(--text-color);
    display: flex;
    margin-top: 10px;
    margin-left: 3px;
}
.sec_item a{
    display: flex;
}
.sec_nav_ul li{
    background: linear-gradient(270deg, rgba(178, 38, 228, 0.2) 99.89%, rgba(13, 13, 13, 0.1) 123.55%);
    border-radius: 20px;
    margin: 5px;
}
.sec_nav .nav-item input{
    background: var(--second-color);
    border: 1px solid var(--main-color);
    border-radius: 50px;
    padding: 10px;
    width: 140px;
    color: var(--main-color);
    font-size: clamp(12px, 2vw, 16px);
    text-align: center;
}
.grid-section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.grid-section img{
    max-width: 190px;
}
.NFT-card_1,
.NFT-card_2,
.NFT-card_3,
.NFT-card_4,
.NFT-card_5,
.NFT-card_6,
.NFT-card_7,
.NFT-card_8{
    background: #141115;
    border-radius: 5px;
    padding: 10px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NFT-card_1 a,
.NFT-card_2 a,
.NFT-card_3 a,
.NFT-card_4 a,
.NFT-card_5 a,
.NFT-card_6 a,
.NFT-card_7 a,
.NFT-card_8 a{
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-height: 70px;
    width: 200px;
    margin-top: 10px;
    font-family: 'syne';
}
.NFT-card_1 a:hover,
.NFT-card_2 a:hover,
.NFT-card_3 a:hover,
.NFT-card_4 a:hover,
.NFT-card_5 a:hover,
.NFT-card_6 a:hover,
.NFT-card_7 a:hover,
.NFT-card_8 a:hover{
    background: #4F2D5B;
    transition: .5s;
}
.anchor_text{
    margin-top: 5px;
    padding: 5px;
}
.anchor_text span{
    font-size:clamp(8px,2vw,14px);
    color: var(--main-color);
}
.anchor_text h6{
    color: var(--text-color);
    font-size: clamp(10px,2vw,16px);
    margin-bottom: 0;
    margin-top: 0;
}
.anchor_text p{
    font-size:clamp(8px,2vw,12px) ;
}

@media (max-width:1300px){
    .navbar-nav{
        margin-left: 0;
    }
    #main{
        margin-top: -40px;
        padding-top: 50px;
    }
    #main .container-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon_text{
        margin-right: 20px;
    }
    .first_img, 
    .sec_img,
    .third_img{
        height: 150px;
        width: 75px;
    }
    .sec_img{
        margin-top: 0px;
    }
    .first_img{
        margin-top: 0px;
    }
    .first_img img{
        width: 70px;
        height: 100px;
    }
    .sec_img img{
        width: 70px;
        height: 100px;
    }
    .third_img img{
        width: 70px;
        height: 100px;
    }
    .first_img:hover,
    .sec_img:hover,
    .third_img:hover{
        transition: 1s;
        transform: translateX(-30px);
    }
    .sec_navbar .collapse{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid-section{
        display: grid;
        grid-template-columns: auto auto;
    }
    .grid-section img{
        max-width: 110px;
    }
    .NFT-card_1 a,
    .NFT-card_2 a,
    .NFT-card_3 a,
    .NFT-card_4 a,
    .NFT-card_5 a,
    .NFT-card_6 a,
    .NFT-card_7 a,
    .NFT-card_8 a{
    width: 110px;
}
.NFT-card_1 a:hover,
.NFT-card_2 a:hover,
.NFT-card_3 a:hover,
.NFT-card_4 a:hover,
.NFT-card_5 a:hover,
.NFT-card_6 a:hover,
.NFT-card_7 a:hover,
.NFT-card_8 a:hover{
    background: none;
}
a img{
    width: 30px;
}
}